
.header {
	margin: 10px;
}

.container {
    background-repeat: no-repeat; 
    background-size: cover;
    margin: 10px;
    text-align: center; 
	font-size: 20px; 
	min-height: 600px;
}

.footer {
    background-color: #111;
    color: white;
    font-size: 16px;
    color: #aaa;
    padding: 20px;
    text-align: center;
    margin: 10px;
}

.footer a {
    color: white;
    margin: 0 16px;
}