
.header {
	margin: 10px;
    background-color: #111;
    color: white;
    padding: 20px;
}

.header a {
    color: white;
    margin: 0 16px;
}

.container {
    background-size: cover;
    margin: 10px;
    min-height: 425px;
    position: relative;
    text-align: center;
}

.align-right {
    float: right; 
    margin-left: 20px;
}

.align-left {
    float: left; 
    margin-left: 20px;
}

h2 {
    text-align: center;
    margin: 0; 
    font-weight: 300;
}

.my-text {
    font-size: 100px;
}

.footer {
    background-color: #111;
    color: white;
    font-size: 16px;
    color: #aaa;
    padding: 20px;
    text-align: center;
    margin: 10px;
}

.footer a {
    color: white;
    margin: 0 16px;
}